.add-project-container  {
    min-width: 45rem;
    max-width: 60rem;
    padding: 2rem 5rem;
    margin: 2rem auto;
    border: 2px solid var(--color-grey-dark-2);
    background-color: var(--color-grey-light-3);

}

.add-project {

    &__member:last-child {
        // border-bottom: 1px solid var(--color-light-grey-2);
    }
}

.add-member {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-grey-dark-2);
}