.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-grey-light-1);

    &__image {
        width: 40%;
        padding: 4rem 2rem;
        position: absolute;
        top: 4.1rem;
        right: 5rem;
    }
}